body {
    overflow: hidden;
}

.auth-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.auth-bg {
    position: fixed;
    inset: 0;
    z-index: 0;

}

.auth-content {
    position: relative;
    z-index: 1;

}

.auth-background {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: fixed;
}