.register-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.register-container h1 {
    font-size: 1.5em;
    margin-top: 1.2em;
}

.register-container p {
    font-size: 0.87em;
    margin: 0px 10px;
    margin-top: -8px;
    text-align: center;
    color: #b7cad4;
    line-height: 1.5em;

}

.register-container span {
    color: #6a92f8;
    cursor: pointer;
}

.register-external-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;

}

.register-button-placeholder {
    width: 100%;
    height: 43px;
    background-color: white;
    border-radius: 100px;
    color: black;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-or-container {
    width: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    position: relative;

}

.register-or-container hr {
    width: 100%;
    border: 0.1px solid #303030;

}

.register-or-container div {
    position: absolute;
    font-size: 13px;
    border-radius: 50%;
    background-color: #181C1F;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: #8BA2AD;
}

.register-email-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.email-input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.email-status-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.email-error-message {
    width: 100%;
    font-size: 0.8em !important;
    color: #f44336 !important;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: start;
    margin-top: 0px !important;
    margin-left: 30px !important;
}

.email-success {
    width: 100%;
    font-size: 0.8em !important;
    color: #4CAF50 !important;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: start;
    margin-top: 0px !important;
    margin-left: 30px !important;
}

.checking-message {
    width: 100%;
    font-size: 0.8em;
    color: #6a92f8;
    margin: 0;
    padding: 0;
    text-align: left;
}

.forgot-password {
    align-self: flex-start;
    color: #6a92f8;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #7fa3ff;
    text-decoration: underline;
}