.register-credentials-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    padding: 0px;
}

.register-credentials-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.register-back-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 0px;
    margin-left: 0px;
}

.register-credentials-container h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.register-credentials-container p {
    font-size: 0.87em;
    margin: 0px 10px;
    text-align: center;
    color: #b7cad4;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.register-credentials-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
