nav {
    background-color: #0E1113;
    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: start;
    align-items: center;

    overflow: hidden;

    border-bottom: 0.5px solid #26282A;
}

img {
    height: 140px;
    margin-left: 30px;
    margin-bottom: -5px;
}