.main-nav {
    height: 58px;
    width: 100%;
    background-color: #0E1113;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #3E4042;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.main-nav img {
    height: 120px;
    margin-left: -10px;
}

.nav-search {
    width: 580px;
    height: 65%;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-data {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    margin-left: auto;
}

.nav-chat-button,
.nav-notifications-button,
.nav-user-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;

}

.nav-chat-button,
.nav-notifications-button {
    padding: 10px;
}

.nav-chat-button svg{
    margin-right: -1px !important;
    margin-top: -1px !important;
}

.nav-notifications-button{
    margin-right: 5px;
}

.nav-chat-button{
    margin-right: -10px;
}



.nav-create-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    padding: 20px 16px;
    transition: background-color 0.2s ease;
}

.nav-chat-button:hover,
.nav-notifications-button:hover {
    background-color: #333D42;
}

.nav-create-button:hover {
    background-color: #333D42;
}

.nav-create-button svg,
.nav-chat-button svg,
.nav-notifications-button svg {
    width: 20px;
    height: 20px;
    fill: #DBE4E9;
    margin-bottom: -2px;

}

.nav-create-text {
    color: #DBE4E9;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.nav-user-menu {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-notifications-button {
    position: relative;
}

.notification-dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 8px;
    height: 8px;
    background: #ff4500;
    border-radius: 50%;
    border: 2px solid #0E1113;
}

.nav-chat-button {
    position: relative;
}

.chat-dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 8px;
    height: 8px;
    background: #0079d3;
    border-radius: 50%;
    border: 2px solid #0E1113;
}