.main-container{
    background-color: #0E1113;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-app-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: visible;
    margin-top: 58px;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 100px;
    background-color: #0E1113 !important;
    position: relative;
    z-index: 1;
    margin-left: 234px;
}

.main-content::-webkit-scrollbar {
    width: 12px;
}

.main-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: #818384;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background-color: #a8abb1;
}